<div class="container-fluid p-5">
  <div class="row">
    <div class="col">
      <div class="container">
        <h5 class="mb-4">Tweets</h5>
        <div class="card mb-2" *ngFor="let tweet of tweets | async">
          <div class="card-body">
            <h6 class="card-title">
              {{tweet.user.name}}
              <span class="text-muted">@{{tweet.user.screen_name}}</span>
              <br/>
              <span class="small">{{tweet.created_at | fromNow}}</span>
            </h6>
            <p class="card-text">{{tweet.text}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h5 class="text-muted">Layout Settings</h5>
    </div>
  </div>
</div>